{% extends 'base.html.twig' %}

{% block title %}Mon panier - Mon P'tit Matin{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mon panier</h1>
    Retrouvez l'ensemble des produits que vous avez ajouté à votre panier.
    
   

    <table class="table">
  <thead>
    <tr>
    
      <th scope="col">Produit</th>
      <th scope="col">Désignation</th>
      <th scope="col">Quantité</th>
      <th scope="col">Prix</th>
      <th scope="col">Total</th>
      <th scope="col"></th>
    </tr>
  </thead>
 
  
{% endblock %}
